/* @keyframes rahul {
  from { 
    opacity: 0; 
    transform: translateY(50%); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
} */

@keyframes zoomIn {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.container {
  display: flex;
  align-items: flex-start;
  background-color: bisque;
  height: 100vh;
  width: 100vw;
}

.card {
  width: 200px;
  height: 120px;
  margin: 20px;
  background: #056450;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoomIn 1s linear forwards;
}

/* .card:nth-child(2) {
  animation-delay: 0.3s;
}

.card:nth-child(3) {
  animation-delay: 0.6s;
} */
